<div class=".main_component">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Kaki Maki</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="900" height="600">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
</div>
<div class="clearfix"></div>