
<div class="hely">
    <h2 class="h2_valami">Portfolio</h2>

</div>
<div class=".main_component">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_1.jpg">
                <img src="..\assets\images\nails\white-img_1.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Polygel 180 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_2.jpg">
                <img src="..\assets\images\nails\white-img_2.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Polygel 150 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_3.jpg">
                <img src="..\assets\images\nails\white-img_3.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 90 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_4.jpg">
                <img src="..\assets\images\nails\white-img_4.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Polygel 200 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_5.jpg">
                <img src="..\assets\images\nails\white-img_5.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 120 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_6.jpg">
                <img src="..\assets\images\nails\white-img_6.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 60 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_7.jpg">
                <img src="..\assets\images\nails\white-img_7.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Porcelain 180 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_8.jpg">
                <img src="..\assets\images\nails\white-img_8.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 60 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_9.jpg">
                <img src="..\assets\images\nails\white-img_9.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 60 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_10.jpg">
                <img src="..\assets\images\nails\white-img_10.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 60 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_11.jpg">
                <img src="..\assets\images\nails\white-img_11.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 80 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_12.jpg">
                <img src="..\assets\images\nails\white-img_12.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Porcelain 180 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_13.jpg">
                <img src="..\assets\images\nails\white-img_13.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Porcelain 160 min</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="..\assets\images\nails\white-img_14.jpg">
                <img src="..\assets\images\nails\white-img_14.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Gel 90 min</div>
        </div>
    </div>
  
</div>
<div class="clearfix"></div>