<!--
email, insta, telefon, nyitvatartás, helyileg mikor
-->
<div class="container">
    <section class="main">
        <!-- <h1>Contact us!</h1> -->
        <div class="boxybox">
            <div>
                <h2 class="header">Business hours:</h2>
            </div>
            <div>
                <p class="big_p">Monday-Tuesday-Wednesday:</p>
            </div>
            <div>
                <p class="small_p">8:00-18:00</p>
            </div>
            <div>
                <p class="big_p">Thursday-Friday-Saturday:</p>
            </div>
            <div>
                <p class="small_p">10:00-16:00</p>
            </div>
            <div>
                <p class="big_p">Sunday:</p>
            </div>
            <div>
                <p class="small_p">Closed!</p>
            </div>
        </div>
        
        <div class="boxybox">
            <div>
                <h2 class="header">Contact us!</h2>
            </div>
            <div>
                <p class="big_p">Email:</p>
            </div>
            <div>
                <p class="small_p">definetly_not@fake.com</p>
            </div>
            <div>
                <p class="big_p">Phone:</p>
            </div>
            <div>
                <p class="small_p">+36/20 18 31241</p>
            </div>
            <div>
                <p class="big_p">Instagram:</p>
            </div>
            <div>
                <p class="small_p">@rebusnails</p>
            </div>
        </div>
    </section>
</div>