<div class="main_content">
    <div class="div-flex">
        <h1>Register an account!</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Email: </label>
                <input type="email" formControlName="email">
            </div>
            <div>
                <label for="pwd">Password: </label>
                <input type="password" formControlName="password">
            </div>
            <div>
                <label for="rePassword">Confirm password: </label>
                <input type="password" formControlName="rePassword">
            </div>
            <div>
                <label for="name">Name: </label>
                <input type="name" formControlName="name">
            </div>
            <div>
                <label for="phone">Phone number: </label>
                <input type="tel" formControlName="phone">
            </div>
            <div>
                <button (click)="goBack()">Back</button>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

