div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
h1{
    font-style: normal;
}
.main_component{
    height: 100vh;
    
    padding: 10px;
    align-items: center;
    background-image: linear-gradient(to top left, rgba(219, 84, 97,0.5), rgba(255, 228, 237, 1));

}
mat-form-field{
    width: 50%;

}
span{
    padding: 5px;
}
button{
    margin: 5px;
}
form div{
    padding: 5px 5px 5px 5px;
}
form{
    display: inline-grid;
    width: 50%;
    align-self: center;
}
.headerthingy{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 0.1px 0.1px;
}