div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-image: linear-gradient(to top left, rgba(219, 84, 97,0.5), rgba(255, 228, 237, 1));
}
h1{
    font-style: normal;
    font-size: xx-large;
}
.main_component{
    height: 100vh;
    
    padding: 10px;
} 